<p id="notice"><%= notice %></p>


<div><%= @album.title %></div>
<%= render 'components/image', image: @album.cover, size: 150 %>

<div></div>
<% if @album.user == current_user %>
    <%= link_to '+ song', albumsong_path(@album.id) %>
<% end %>

<table>
<% @album.songs.sort_by{|u| u.position}.each do |s| %>
    <tr>
        <td><%= s.position %> </td>
        <td><%= s.title %> </td>
        <td> <button onClick="play('<%= url_for(s.mp3) %>')">PLAY </button> </td>
    </tr>
<% end %>
</table>
