<!DOCTYPE html>
<html>
  <head>
    <title>NewsOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class=" <%= user_signed_in? ? 'loggedIn' : 'loggedOut'  %> " >    
<%#         
        <div class="header">
            
        </div> %>


        <div class="sidebar"> 
          <h3>Novice</h3>
          <div style="display: flex; flex-direction: column; padding-left: 29px" >

            <%= form_tag search_index_url, :method => 'get' do %>
                    <%= text_field_tag :search, params[:search], placeholder: 'Search...' %>
                    <%= button_tag :submit do %>
                      <i class='uil uil-search'>search</i>
                    <% end %>
                <% end %>

                <div style="height: 12px" ></div>
            <% if current_user %>
              
              <%= link_to "HOME", '/' %>
              <%= link_to "PROFILE", profile_path(current_user) %>
              <%= link_to "FOLLOWING", following_path() %>
              <%= link_to('LOGOUT', destroy_user_session_path, method: :delete) %>     


            <div style="height: 28px" ></div>
                <%= link_to "+ ALBUM", '/albums/new' %>
            <% end %> 
          </div>

          <div>
            <div id="sputify-player-container" style="position: absolute; bottom: 0; max-height: 54px; "  data-turbolinks-permanent>
              <audio id="sputify-player" controls src="" style="background-color: #f0f0f0;">
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>

        
        <div class="content">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

            <%= yield %>
        </div>

        <script>
            ;(function () {
            var forEach = Array.prototype.forEach
            var selector = [
              '[data-turbolinks-permanent] audio',
              'audio[data-turbolinks-permanent]',
              '[data-turbolinks-permanent] video',
              'video[data-turbolinks-permanent]'
            ].join(',')

            addEventListener('turbolinks:load', function () {
              var mediaElements = document.querySelectorAll(selector)
              forEach.call(mediaElements, uninterrupt)
            })

            // Bind to turbolinks:render to handle previews
            addEventListener('turbolinks:render', function () {
              var mediaElements = document.querySelectorAll(selector)
              forEach.call(mediaElements, function (media) {
                if (media.isPlaying) media.play()
              })
            })

            function uninterrupt (media) {
              if (!media.uninterrupted) {
                media.addEventListener('play', function () { media.isPlaying = true })
                media.addEventListener('pause', function () { media.isPlaying = false })
                media.uninterrupted = true
              }
            }
          })()
        </script>

        
        <script>
            function play(song) {
                // alert(song)
                let player = document.getElementById('sputify-player');
                player.src = song
                player.play();
            }
        </script>

        <script>
          // Ty plazo
          (function(){
            const notice = document.getElementById('notice');
            const alert = document.getElementById('alert');

            notice.click(() => {
              notice.hide();
            })

            alert.click(() => {
              alert.hide();
            })
          }());
        </script>
  </body>
</html>
